include includes/header2.pug

.container
  .pt-5.pb-4.text-center
    h2 Recipes.
    p.lead Simple, delicious recipes delivered without the clutter
  hr.mb-5
  p The goal of Recipes. is to share easy-to-use recipes without overwhelming
    |  you with content. Each recipe is presented to you ad-free with only the information you need to make the dish.
  div My recipes aim to:
    ul
      li Cook from scratch
      li Use fresh, healthy ingredients
      li Make cooking simple
  p
  | To get started, you can browse
  a(href="/recipe/all")  all recipes
  |  or
  a(href="/search")  search
  |  for something in particular.
.container.mt-5
  .row
    .col-md-4
      a(href="/recipe/Cherry-Chipotle%20Steak%20for%20Tacos")
        img.img-fluid(src='../pictures/cherrychipotle.jpg')
    .col-md-4
      a(href="/recipe/Gluten-Free%20Strawberry%20Pie")
        img.img-fluid(src='../pictures/strawberry_pie.jpg')
    .col-md-4
      a(href="/recipe/Fruity%20Spring%20Eclairs")
        img.img-fluid(src='../pictures/eclairs.jpg')
