include includes/header2.pug

main(role="main")
	section.jumbotron.text-center
		.container
			h1.jumbotron-heading Browse All Recipes
		p.lead
		| Want to narrow things down? Try the
		a(href="/search")  search
		|  menu.
	.album.py-5.bg-light
		.container
			.row
				each recipe, i in recipes
					.col-md-4
						.card.mb-4.box-shadow
							img.card-img-top(src='../pictures/' + recipe.pic alt='Picture of ' + recipe.name)
							.card-body
								h4.card-title.text-center #{recipe.name}
								p.card-text
									| #{recipe.desc}
									span.font-italic  (Ingredients: #{recipe.ingredients.replace(/\[|\]|\"/g, "").split(',').map(ing => {return ing.replace(/[0-9\/]+ ((cup|lb|T.?|t.?|oz) )?/i, '');}).join(', ')})
								.text-center
									a.btn.btn-sm.btn-outline-secondary(role="button" href="/recipe/" + recipe.name) Make it!
