doctype html
html#mainpage
	head
		title Recipes.
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="p:domain_verify" content="badd305f4f30b40829f0fd679fe63b7f")
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/main-style.css")
	body#mainbody.text-center.justify-content-center
		.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
			main.inner.cover(role="main")
				h1.display-1 Recipes.
				p.lead.my-4 Simple, delicious recipes delivered without the clutter
				p.lead
						a.btn.btn-lg.btn-secondary.mx-4(href="/recipe/all") Browse Recipes
						a.btn.btn-lg.btn-secondary.mx-4(href="/search") Search Recipes
