include includes/header2.pug

main.container(role="main")
	.row.justify-content-center
		.col-6
			h1.text-center #{recipe.name}
	.row.justify-content-center
		.col-6
			img.img-fluid(src="../pictures/" + recipe.pic alt="Picture of " + recipe.name)
	.row.justify-content-center
		.col-6
			p.lead.text-center
				| #{recipe.desc}
	.row.justify-content-center
		.col-8
			h3.text-center Ingredients:
			.list-group.text-center
				each ingredient in recipe.ingredients.replace(/\[\"|\"\]|/g, "").split('\",\"')
					.list-group-item #{ingredient}

	.row.justify-content-center
		.col-8
			h3 Directions:
			ol#directions
				each step in recipe.steps.replace(/\[\"|\"\]|/g, "").split('\",\"')
					li #{step}
	#last-item.row.justify-content-center
		a.btn.btn-sm.btn-dark(role="button" href="/recipe/all") All Recipes
